<%- include('header') %>
        <div style=" max-width: 600px; margin: auto; background-color: rgba(12, 190, 12, 0.322); padding: 3% 5%">
            <h1>Your Profile</h1>
            <div id="userdetails">
                <p><b>Your Name</b> : <%=docs.name%></p>
                <p><b>Your Email</b> : <%=docs.email%></p>
                <p><b>Your Phone No. </b> :<%=docs.phoneNo%></p>
                <p>You are a <b><%=docs.userType%></b></p>
                <p><b>Address </b> :<%=docs.address%></p>
            </div>
        </div>
    </body>
</html>